.heading{
    padding: 30px ;
}

.democontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.democardcontainer{
    height: 200px;
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.956),rgba(0, 0, 0, 0.781));
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    padding: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.democardcontainer h1{
    font-size: 1.5rem;
    margin-top:10px;
}
.democardcontainer p{
    font-size: 1rem;
}

.democardcontainer button{
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    transition: all .5s;
}
.democardcontainer button:hover{
    background-color: red;
    color: white;
}


.demobbqimg{
    width: 150px;
}

