nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
    position:fixed;
    z-index: 99;
    color: white;
    top: 0;
   
   
}

span{
    color: red;
}

.logo{
    cursor: pointer;
}

ul li {
    display: inline;
    padding: 0px 20px;
    cursor: pointer;
    color: white;
 
}



.bagimg{
    width: 30px;
    cursor: pointer;
    padding: 5px;
    background-color:white;
    border-radius: 50%;
}

.txtcolor{
    color: red;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 3px solid; 
    font-size:1rem;
}


.menu{
    width: 30px;
    visibility: hidden;
}


@media (max-width:750px){
    .menu{
        position: absolute;
        visibility: visible;
        left: 5%;
        width: 25px;
        z-index: 99;
       
    }


    nav ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: black;
        top: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        height: 100vh;
        padding: 10px;
        padding-top: 50px;
        width: 200px;
        transition: all 0.5s ease-in-out;
        
    }

    .hidemenu{
        right: -100%;
    }

    nav ul li{
        margin-bottom: 30px;
    }


}